@use "../../styles.scss" as *;

.icon-star-container {
  margin-top: 24px;
  background: map-get($palette, "Dark Blue");
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
}

.icon-star {
  margin: auto;
  width: 13.96px;
  height: 13.33px;
}

.title {
  margin-top: 16px;
  @extend %heading;
}

.body {
  margin-top: 10px;
  @extend %body;
}

.ratings {
  margin-top: 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.rating-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: map-get($palette, "Dark Blue");
  cursor: pointer;
  @extend %rating;
}

.rating-score[aria-checked="true"] {
  background: map-get($palette, "Orange");
  color: map-get($palette, "Pure White");
}

.rating-score[aria-checked="false"]:hover {
  background: map-get($palette, "Medium Gray");
  color: map-get($palette, "Pure White");
}

.submit-button {
  margin: 24px 0 32px;
  padding: 12px 0;
  border-radius: 22.5px;
  background: map-get($palette, "Orange");
  border: none;
  cursor: pointer;
  @extend %button;
}

.submit-button:hover {
  background: map-get($palette, "Pure White");
  color: map-get($palette, "Orange");
}

@media (min-width: $desktop-breakpoint) {
  .icon-star-container {
    margin-top: 32px;
    width: 48px;
    height: 48px;
  }

  .icon-star {
    width: 16.75px;
    height: 16px;
  }

  %heading {
    font-size: 28px;
    line-height: 43px;
  }

  .title {
    margin-top: 30px;
  }

  %body {
    font-size: 15px;
    line-height: 24px;
  }

  .body {
    margin-top: 7px;
  }

  %rating {
    font-size: 16px;
  }

  .rating-score {
    width: 51px;
    height: 51px;
  }

  .ratings {
    margin-top: 24px;
  }

  %button {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2px;
  }

  .submit-button {
    padding: 11px 0;
  }
}
