<div class="icon-star-container">
  <img class="icon-star" src="/assets/icon-star.svg" alt="" width="17" height="16">
</div>
<h1 class="title">How did we do?</h1>
<p class="body">
  Please let us know how we did with your support request. All feedback is appreciated
  to help us improve our offering!
</p>
<ol class="ratings">
  <li class="rating-score" (click)="setRating(1)">1</li>
  <li class="rating-score" (click)="setRating(2)">2</li>
  <li class="rating-score" (click)="setRating(3)">3</li>
  <li class="rating-score" (click)="setRating(4)">4</li>
  <li class="rating-score" (click)="setRating(5)">5</li>
</ol>
<button class="submit-button" (click)="sendRating()">Submit</button>
