@use "../../styles.scss" as *;

.icon-star-container {
  margin-top: 24px;
  background: map-get($palette, "Dark Blue");
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
}

.icon-star {
  margin: auto;
  width: 13.96px;
  height: 13.33px;
}

.title {
  margin-top: 16px;
  @extend %heading;
}

.body {
  margin-top: 10px;
  @extend %body;
}

.ratings {
  margin-top: 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.rating-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: map-get($palette, "Dark Blue");
  @extend %rating;
}

.submit-button {
  margin: 24px 0 32px;
  padding: 12px 0;
  border-radius: 22.5px;
  background: map-get($palette, "Orange");
  border: none;
  @extend %button;
}

@media (min-width: $desktop-breakpoint) {
  %heading {
    font-family: Overpass;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
  }
}
