@use "../../styles.scss" as *;

.illustration {
  margin-top: 34px;
  width: 144px;
  height: 96px;
}

.overline {
  @extend %overline;
  margin-top: 24px;
  background: map-get($palette, "Dark Blue");
  border-radius: 22.5px;
  padding: 5px 12px;
}

.heading {
  @extend %heading;
  margin-top: 24px;
}

.body {
  @extend %body;
  text-align: center;
  margin: 10px 0 37px;
}

@media (min-width: $desktop-breakpoint) {
  .illustration {
    margin-top: 45px;
    width: 162px;
    height: 108px;
  }

  %overline {
    font-size: 15px;
    line-height: 24px;
  }

  .overline {
    margin-top: 32px;
    padding: 4px 20px;
  }

  %heading {
    font-size: 28px;
    line-height: 43px;
  }

  .heading {
    margin-top: 32px;
  }

  %body {
    font-size: 15px;
    line-height: 24px;
  }

  .body {
    margin: 7px 0 45px;
  }
}
